# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#
*.pdf
*.gbr
*.gbrjob

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Windows files
*Zone.Identifier

# Arquivos e pastas locais que não devem ir pro GitHub
.vscode/
.pio/
*.pyc
__pycache__/
*.elf
*.bin
*.hex
*.map
*.d
*.o
*.a
*.log
*.csv
*.bak
*.swp
**/.DS_Store

# Arquivos de sistema (Windows/macOS/Linux)
Thumbs.db
ehthumbs.db
Desktop.ini
